html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 228, 228);
    overflow-x: hidden !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(173, 173, 173), rgb(228, 228, 228));
    padding: 10px 20px;
    color: #fff;
}

.logo img {
    height: 50px;
}

nav a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #1639ff;
    transition: width .3s;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

nav a:hover::after {
    width: 100%;
}

/* Dropdown CSS */
.dropbtn {
background-color: #498fcb;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease; /* Adiciona transição para a cor de fundo */
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
left: -30%; /* Ajuste para abrir para a esquerda */
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 4px;
opacity: 0; /* Começa invisível */
transition: opacity 0.3s ease; /* Adiciona transição para a opacidade */
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
display: block;
opacity: 1; /* Fica visível ao hover */
}

.dropdown:hover .dropbtn {
background-color: #4ca3d5;
}

.show {
    display: block;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #031fbc;
}

.hp {
    margin-bottom: 30px;
}

.section-Gráfico, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: flex;
}

.interactive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.interactive-table thead {
    background-color: #0f79ba;
    color: #fff;
}

.interactive-table th,
.interactive-table td {
    padding: 12px;
    text-align: left;
}

.interactive-table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.status-indicator {
    padding: 5px 10px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

.status-preparando {
    color: orange; /* Cor para status "Preparando" */
}

.status-enviado {
    color: blue; /* Cor para status "Enviado" */
}

.status-entregue {
    color: green; /* Cor para status "Entregue" */
}

.status-cancelado {
    color: red; /* Cor para status "Cancelado" */
}        

.freight-simulator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.freight-simulator h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group.half-width {
    flex: 1 1 48%;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #0026ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0019cc;
}

footer {
    background-color: #0f79ba;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer img {
    height: 20px;
    gap: 10px;
}

.chart-container {
    display: flex;
    margin-left: 40%;
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
}

/* Estilos para Modo Escuro */
.dark-mode body {
    background-color: #000000;
    color: #fff;
}

.dark-mode .logo img {
    filter: invert(1);
}

.color-changing-text {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 25px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 25px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #003366;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
footer::before, footer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    top: -5px; /* Ajuste conforme necessário */
}
footer::after {
    top: auto;
    bottom: -5px; /* Ajuste conforme necessário */
}